<h1><%=@destination.name%></h1>
<h2><%=@destination.country%></h2>
<h3>Five Most Recent Posts</h3>
<ul>
  <% @destination.most_recent_five.each do |post| %>
    <li><%= link_to post[0], post_path(post[1]) %></li>
  <% end %>
</ul>

<h3>Average Age of Vistors: <%= @destination.average_age %></h3>

<h3>Featured post: <%= link_to @destination.featured_post[:title], post_path(@destination.featured_post[:id]) %></h3>

<%= @destination.featured_post[:content] %>
